/* General */

* {
    font-family: 'Raleway', sans-serif;
}

body {
    color: black;
    margin: auto;
}
#container {
    margin: 0px 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.fa-star {
    color: #0065fc;
}


h1 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

/* Header */

header {
    display: flex;
    padding-left: 48px;
    padding-right: 48px;
    justify-content: space-between;
}
.logo {
    margin-top: 50px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    text-align: center;
    margin-left: 40px;
    padding: 40px 15px 0px 15px;
}

.navbar li:hover {
    border-top: 1px solid #0065fc;
}

.navbar a:hover {
    color: #0065fc;
}

.login a {
    color: #0065fc;
}

 .login a:hover {
     color: black;
 }

/* Slogan */

#slogan {
    margin-top: 50px;
}

#slogan h1 {
    margin-bottom: 0px;
}

#slogan p {
    margin-top: 5px;
}

/* Search */

#search {
    margin-top: 20px;
}

.inputsearch {
    display: flex;
}

.mapmarker {
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 20px;
    background-color: #f2f2f2;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
}

.inputsearch input {
    border: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 1.2em;
    padding: 17px;
}

.desktop {
    border: 1px solid #f2f2f2;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
}

button {
    width: 135px;
}

button span {
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

button .fa-search {
    display: none;
}

/* filters */

.filter {
    display: flex;
    margin: 20px 0px;
}

.filter h1 {
    font-size: 1.2em;
}

.filter i {
    padding: 20px;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100%;
}

.filter label {
    border: 3px solid #f2f2f2;
    border-radius: 50px;
    margin: 0 24px;
}

.filter :nth-child(2) {
    margin-left: 32px;
}

.filter input {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 10px;
    border: 0;
    background-color: transparent;
}

.filter label>input:hover {
    color: #0065fc;
    cursor: pointer;
}

/* info */

.info {
    display: flex;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.info p {
    font-size: 1em;
}

.fa-info {
    font-size: 0.8em;
    color: #0065fc;
    padding: 15px 20px;
    border: 3px solid #f2f2f2;
    border-radius: 100%;
}

/* housing */

#housing {
    display: flex;
    justify-content: space-evenly;
}

/* accomodation */

#housing section {
    border: 0 solid transparent;
    border-radius: 25px;
    background-color: #f2f2f2;
    margin-right: 40px;
}

.acch1,
.more,
.more a {
    background-color: transparent;
}

.acch1 {
    font-size: 1.2em;
    margin: 35px 0px 0px 35px;
}

.hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.hotel a {
    margin-bottom: 30px;
    height: 200px;
    background-color: #fff;
    border: 0 solid #fff;
    border-radius: 25px;
    box-shadow: 0 0 1px 1px #dbdbdb;
}

.hotel a h1,
.hotel a p {
    margin: 0px 0px 4px 20px;
}

.accstar {
    margin-left: 15px;
}

.hotel a img {
    object-fit: cover;
    width: 237px;
    height: 115px;
    border-radius: 25px 25px 0 0;
    padding: 5px;
}

.cannebiere .accstar i:nth-child(5) {
    color: #d9d9d9;
}

.mouettes .accstar i:nth-child(5) {
    color: #d9d9d9;
}

.mer .accstar i:nth-child(4) {
    color: #d9d9d9;
}

.mer .accstar i:nth-child(5) {
    color: #d9d9d9;
}

.panier .accstar i:nth-child(5) {
    color: #d9d9d9;
}

/* more */

.more {
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 50px;
}

/* aside */

aside {
    background-color: #f2f2f2;
    border-radius: 25px;
}

.gd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
}

.mostpopular,
.fa-chart-line {
    font-size: 1.2em;
}

.mostpop {
    padding: 0px 40px 0px 40px;
}

.mostpop a {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px #dbdbdb;
    margin-bottom: 32px;
}

.mostpop a h1 {
    margin: 0;
}

.mostpop a p {
    margin-top: 10px;
}

.alignpopular {
    display: flex;
    flex-direction: column;
    width: 144px;
    padding-left: 20px;
    background-color: transparent;
}

.star {
    margin-top: 20px;
}

.mostpop img {  
    width: 128px;
    height: 130px;
    border-radius: 25px 0 0 25px;
    padding: 5px; 
}

.coeur .star i:nth-child(5) {
    color: #f2f2f2;
}

.bleu .star i:nth-child(5) {
    color: #f2f2f2;
}

/* activities */

#activities {
    margin: 70px 0px 50px 0px;
}

#activities h1 {
    font-size: 1.2em;
}

.image {
    display: flex;
    justify-content: space-between;
}

.image h1 {
    padding-left: 20px;
}

.oneimage>a,
.twoimages>a {
    border-radius: 25px;
    box-shadow: 0 0 2px 2px #f4f4f4;
    border: 1px solid #f2f2f2;
}

 .oneimage img {
     width: 308px;
     height: 388px;
     border-radius: 25px 25px 0 0;
     object-fit: cover;
 }

 .twoimages img {
     object-fit: cover;
 }

.twoimages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fort img {
    width: 308px;
    height: 180px;
    border-radius: 25px 25px 0 0;
}

.frioul img {
    width: 308px;
    height: 110px;
    border-radius: 25px 25px 0 0;
}

.garde img {
    width: 308px;
    height: 142px;
    border-radius: 25px 25px 0 0;
}

.longchamp img {
    width: 308px;
    height: 152px;
    border-radius: 25px 25px 0 0;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
}
.about,
.accomodations,
.assistance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
}

footer h1,
footer ul,
footer ul li,
footer ul li a {
    background-color: transparent;
}

footer ul {
    margin-left: -90px
}

footer h1 {
    margin-top: 40px;
    margin-left: -50px;
}

footer ul li {
    margin-bottom: 20px;
}

/* Responsive Tablet */

@media screen and (max-width: 991px)
{

}

/* Responsive Telephone */

@media screen and (max-width: 768px)
{
    /* header */

    header {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 0px;
        width: 100%;
        height: 131px;
        border-bottom: 2px solid #f2f2f2;
    }

    .logo {
        position: relative;
        left: 19px;
        top: 30px;
    }

    .login {
        position: relative;
        top: 30px;
        right: 50px;
    }

    .accomodation,
    .activities {
        position: relative;
        top: 90px;
        left: -120px;
    }

    .activities {
        left: 50px;
    }

    .accomodation a:hover,
    .activities a:hover {
        border-top: transparent;
        border-bottom: 2px solid #0065fc;
        padding-bottom: 6px;
    }

    /* Slogan */

    #slogan {
        position: relative;
        left: 19px;
        padding: 0px;
        width: 291px;
    }

    /* Search */

    #search {
        position: relative;
        left: 19px;
        padding: 0px;
    }

    button span {
        display: none;
    }

    button .fa-search {
        display: contents;
        color: white;
    }

    .desktop {
        position: relative;
        left: -8px;
        width: 51px;
        border-radius: 15px;

    }

    .inputsearch input {
        width: 230px;
        border-right: transparent ;
        padding: 17px;
    }

    /* Filters */


}