/* General */

* {
    font-family: 'Raleway', sans-serif;
}

body {
    color: black;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.star-blue {
    color: #0065fc;
}

.star-grey {
    color: #d9d9d9;
}

h1 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

/* Header */

header {
    display: flex;
    margin: 0px 50px;
    justify-content: space-between;
}
.logo {
    margin-top: 50px;
}

.navbar ul {
    display: flex;
    margin-top: 0;
}

.navbar ul li {
    margin-left: 40px;
    padding: 50px 15px 0px 15px;
}

.accomodation:hover,
.activities:hover {
    border-top: 1px solid #0065fc;
}

.navbar a:hover {
    color: #0065fc;
}

.login a {
    color: #0065fc;
}

 .login a:hover {
     color: black;
 }

/* Slogan */

#slogan {
    margin: 30px 0px 20px 50px;
}
 
#slogan p {
    margin-top: 5px;
}

/* Search */

#search {
    margin-top: 20px;
    margin-left: 50px;
}

.inputsearch {
    display: flex;
}

.mapmarker {
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 20px;
    background-color: #f2f2f2;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
}

.inputsearch input {
    border: 1px solid #d9d9d9;
    font-weight: bold;
    font-size: 1.2em;
    padding: 17px;
}

.desktop {
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #0065fc;
    padding: 0 15px;
}

.desktop .fa-search {
    display: none;
}

.desktop:hover {
    cursor: pointer;
}

/* filters */

.filter {
    display: flex;
    margin: 30px 0px;
}

.filter h1 {
    font-size: 1.2em;
    margin-right: 20px;
}

.filter i {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 30px;
    padding: 20px;
    margin-top: -3px;
    margin-bottom: -3px;
}

.filter label {
    border: 3px solid #d9d9d9;
    border-radius: 36px;
    border-left: none;
    left: 25px;
    margin-right: 20px;
}

.family i {
    padding-left: 22px;
    padding-right: 22px;
}

.economic i {
    padding-right: 18px;
    padding-left: 18px;
}

.filter input {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 30px;
    border: 0;
    background-color: transparent;
}

.filter input:hover {
    color: #fff;
    cursor: pointer;
}

.filter label:hover {
    background-color: #0065fc;
    color: white;
    cursor: pointer;
}

/* info */

.info {
    margin: 40px 0;
}

.info p {
    font-size: 1em;
}

.fa-info {
    font-size: 0.8em;
    color: #0065fc;
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    margin-right: 10px;
}

/* housing */

#housing {
    display: flex;
    justify-content: space-evenly;
}

/* accomodation */

.price {
    font-weight: bold;
}

#accommodation {
    border-radius: 25px;
    background-color: #f2f2f2;
    width: 60%;
}

.acch1 {
    font-size: 1.2em;
    margin: 35px 0px 0px 50px;
}

.hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

.hotel a {
    margin-bottom: 30px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px #dbdbdb;
}

.hotel a h1,
.hotel a p {
    margin: 0px 0px 4px 20px;
}

.accstar {
    margin-left: 20px;
}

.hotel a img {
    object-fit: cover;
    width: 237px;
    height: 115px;
    border-radius: 25px 25px 0 0;
    padding: 5px;
}

/* more */

.more {
    font-weight: bold;
    margin-left: 50px;
    margin-top: 5px;
}

.more a:hover {
    color: #0065fc
}

/* aside */

aside {
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 30%;
}

.gd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 60px 5px 60px;
    padding-top: 20px;
}

.mostpopular,
.fa-chart-line {
    font-size: 1.2em;
}

.mostpop {
    padding: 0px 60px;
}

.mostpop a {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px #dbdbdb;
    margin-bottom: 32px;
    padding-right: 15px;
}

.mostpop a h1 {
    margin: 0;
}

.mostpop a p {
    margin-top: 5px;
}

.alignpopular {
    padding-left: 20px;
    margin-top: 15px;
}

.mostpop img {  
    width: 140px;
    height: 130px;
    border-radius: 25px 0 0 25px;
    padding: 5px; 
}

.star {
    margin-top: 35px;
}

.bleu img {
    width: 150px;
}

/* activities */

#activities {
    margin: 70px 50px 60px 50px;
}

#activities h1 {
    font-size: 1.2em;
    margin-bottom: 25px;
}

.image {
    display: flex;
    justify-content: space-between;
}

.image h1 {
    padding-left: 20px;
}

.oneimage>a,
.twoimages>a {
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px #f4f4f4;
}

.oneimage {
    display: flex;
}

.oneimage img {
    width: 300px;
    height: 390px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

 .twoimages img {
     object-fit: cover;
 }

.twoimages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fort img {
    width: 300px;
    height: 180px;
    border-radius: 25px 25px 0 0;
}

.frioul img {
    width: 300px;
    height: 110px;
    border-radius: 25px 25px 0 0;
}

.garde img {
    width: 300px;
    height: 142px;
    border-radius: 25px 25px 0 0;
}

.longchamp img {
    width: 300px;
    height: 152px;
    border-radius: 25px 25px 0 0;
}

/* footer */

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f2f2;
}

.about,
.accomodations,
.assistance {
    margin-right: 300px;
}

footer h1 {
    margin-top: 40px;
    padding-left: 40px;
}

footer ul li {
    margin-bottom: 20px;
}

/* Responsive Tablet */

@media screen and (max-width: 991px)
{
    /*Filters*/
    .filter {
        flex-wrap: wrap;
    }

    .filter label {
        font-size: small;
    }

    .filter h1 {
        width: 100%;
    }

    .economic {
        padding-left: 0;
    }

    .family {
        margin-left: 10px;
    }

    /* Housing */

    #housing {
        flex-direction: column;
        margin: 0 50px;
    }
    /* Accommodation */

    #accommodation {
        width: 100%;
        margin-top: 30px;
    }

    .hotel {
        font-size: 0.8em;
    }

    /* More */

    .more {
        margin-bottom: 30px;
    }

    /* Aside */

    aside {
        order: -1;
        width: 100%;
    }

    .gd {
        margin: 0 30px 0 20px;
    }

    .mostpop {
        display: flex;
        padding: 0;
    }

    .mostpop a {
        flex: 1;
        margin: 10px;
    }

    .alignpopular {
        font-size: 0.8em;
    }

    .star {
        margin-top: 25px;
    }

    .coeur .star {
        margin-top: 0;
    }

    .bleu img {
        width: 180px;
    }

    /* Activities */

    .image {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .oneimageone {
        order: -1;
        margin-bottom: 30px;
    }

    .twoimagestwo {
        order: -1;
        margin-bottom: 30px;
    }

    /* Footer */

    footer {
        justify-content: space-between;
    }

    .about,
    .accomodations,
    .assistance {
        margin-right: 50px;
    }
}

/* Responsive Telephone */

@media screen and (max-width: 768px) {
   
    /* header */

    header {
        display: block;
        margin: 0;     
    }
    
    .active {
        border-bottom: 3px solid #0065fc;
        padding-bottom: 16px;
    }

    .logo {
        position: relative;
        left: 20px;
        top: 10px;
    }

    .navbar ul {
        justify-content: space-between;   
        margin-top: 20px;     
        padding-left: 0;
    }

    .navbar ul li {
        width: 50%;
        margin: 0;
        text-align: center;
        padding: 10px;
    }
    .activities {
        border-bottom: 5px solid #f2f2f2;
    }

    .navbar ul li:nth-child(3) {
        position: absolute;
        right: 0;
        top: 20px;
    }

    .navbar a:hover {
        border-bottom: 3px solid #0065fc;
        padding-bottom: 16px;
    }

    .accomodation:hover,
    .activities:hover {
        border-top: 0;
    }

    .login:hover {
        border: none;
    }

    /* Slogan */

    #slogan {
        margin: 0;
        padding-left: 10px;
    }

    #slogan h1 {
        font-size: 1.3em;
        padding-bottom: 20px;
    }
    
    /* Search */

    #search {
        margin: 50px 0px 0px 10px;
    }

    .inputsearch input {
        padding: 10px;
    }

    .searchbutton {
        display: none;
    }

    .desktop .fa-search {
        display: block;
    }

    /* Filters */

    .filter {
        flex-wrap: wrap;
    }

    .filter label {
        margin-top: 20px;
        left: 0;
        margin-right: 0;
        font-size: small;
    }
    .filter h1 {
        width: 100%;
    }

    .economic {
        padding-left: 0;
    }

    .family {
        margin-left: 10px;
    }

    /* Info */

    .info {
        text-align: left;
        font-size: 1.1em;
    }

    .fa-info {
        float: left;
        font-size: 0.5em;
        color: #0065fc;
        padding: 5px;
        border: 3px solid #d9d9d9;
        border-radius: 100%;
        margin-right: 5px;
    }

    /* Housing */

    #housing {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #housing section {
        background-color: transparent;
        margin-right: 0;
        width: 100%;
    }

    .acch1 {
        margin-bottom: 20px;
    }

    .hotel {
        padding: 0;
    }

    .hotel a img {
        width: 335px;
    }

    aside {
        order: -1;
        width: 100%;
        border-radius: 0;
    }

    .mostpop {
        padding: 10px;
        flex-direction: column;
    }

    .alignpopular {
        font-size: 1em;
    }

    .bleu img {
        width: 165px;
    }

    /* More */

    .more {
        margin: 0 0 0 15px;
    }

    /* Activities */

    #activities {
        margin: 50px 0px 0px 0px;
        padding-left: 8px;
    }

    .image {
        flex-direction: column;
    }

    .oneimage>a,
    twoimages>a {
        margin-bottom: 20px;
    }

    .oneimage a img,
    .twoimages a img {
        width: 360px;
        height: 135px;
    }

    .twoimages a {
        width: 360px;
        margin-bottom: 20px;
    }

    /* Footer */

    footer {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about,
.accomodations,
.assistance {
    margin-right: 0;
}

}