/* General */

* {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

body {
    color: black;
    max-width: 1440px;
    margin: auto;
}
#container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.fa-star {
    color: #0065fc;
}


h1 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

/* Header */

header {
    display: flex;
    padding: 70px;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    display: inline;
    border-top: 0 solid #0065fc;
    width: 162px;
    text-align: center;
}

.navbar a:hover {
    color: #0065fc;
    padding-top: 70px;
    border-top: 2px solid #0065fc;
}

.login {
    width: 118px !important;
}

.login a {
    color: #0065fc;
}

/* Slogan */

#slogan {
    padding-left: 70px;
}

/* Search */

#search {
    padding-left: 70px;
    padding-top: 20px;
}

.searchbar {
    display: flex;
    flex-direction: column;
    width: 419px;

}

.inputsearch {
    display: flex;
    flex-direction: row;  
    height: 51px;
}

.mapmarker {
    width: 51px;
    border: 1px solid #f2f2f2;  
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
}

.inputsearch input {
    width: 235px;
    border: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 1.2em;
    padding: 17px;
}

.desktop {
    border: 1px solid #f2f2f2;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
}

button {
    width: 135px;
}

button span {
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

button .fa-search {
    display: none;
}

/* filters */

.filter {
    display: flex;
    padding-top: 33px;
    padding-bottom: 20px;
}

.filter h1 {
    font-size: 1.2em;
}

.filter i {
    margin: 8px;
    color: #0065fc;
    background-color: #deebff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.filter label {
    display: flex;
    align-items: center;
}

.filter input {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: -30px;
    height: 50px;
    padding: 0 25px 0 37.5px;
    border : 3px solid #d9d9d9;
    border-left: 3px transparent;
    border-radius: 0 50px 50px 0;
    background: transparent;
}